<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© <%= Time.now.year %> <%= link_to "blog-app", "https://github.com/sahlminkok/blog-app", class: "text-decoration-none" %> by Sahalu Aminu</span>
  </div>
</footer>
