<div class="users__user">
  <div class="users__user--image">
    <img src="<%= user.photo %>" alt="<%= user.name %>" />
  </div>
  <div class="users__user--body">
    <h3><%= user.name %></h3>
    <p>Number of posts: <%= user.posts_counter %> </p>
  </div>
</div>
