*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #f1f1f1;
}

.users {
  display: flex;
  flex-direction: column;
}

.users__user {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  gap: 8px;
}

.users__user--image {
  height: 150px;
  min-width: 20%;
  background-color: #999;
}

.users__user--body {
  display: flex;
  flex-direction: column;
  background-color: #999;
  gap: 10px;
  width: 90%;
  height: 150px;
  justify-content: center;
  padding: 20px;
}

.users__user--body p {
  align-self: flex-end;
}

.bio {
  padding: 10px;
  background-color: #999;
  margin-bottom: 5px;
}

.user-post,
.user-post:hover,
.user-post:focus {
  text-decoration: none;
  color: #fff;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: #999;
  gap: 5px;
  margin-bottom: 5px;
  padding: 10px;
  justify-content: center;
}

.post h6 {
  padding-top: 15px;
}

.post p {
  align-self: flex-end;
  margin-right: 15px;
}

.comments {
  background-color: #999;
  padding: 10px;
  margin-top: -4px;
  margin-bottom: 8px;
}

.post-title {
  display: flex;
  justify-content: space-between;
}

.new-post {
  min-height: 100vh;
}
